* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* tạo hiệu ứng cuộn cho trang */
}

.wrapper {
    width: 90%;
    height: 700px;
    margin-top: 30px;
    background-color: #80b9ff;
    border: 1px solid #000;
}

header {
    height: 60px;
}

header .menu {
    display: flex;
}

.menu .hover {
    float: left;
    margin: 15px 0;
    text-align: center;
}

.hover a {
    margin: 0 30px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.menu .head {
    margin-top: 13px;
    margin-right: 30px;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.container {
    height: 510px;
    margin-top: 30px;
    /* background-color: #beb5b5; */
}

.container .content {
    height: 100%;
    width: 45%;
    float: left;
    /* background-color: #7887eb6b; */
    margin-left: 10px;
}

.content-head {
    color: #fff;
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.content-p {
    color: #fff;
    font-size: 1.6rem;
    text-align: justify;
    /* căng lề 2 bên cho văn bản */
    line-height: 1.5;
    /* cách dòng 1.6 dành cho tiếng Việt */
}

.content-input {
    margin-top: 10px;
}

.content-input .input {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.input .name-input {
    color: #fff;
    font-size: 1.4rem;
    margin: 0 20px 0 20px;
    width: 45%;
}

.input .input-text {
    margin: 0;
    width: 45%;
    height: 20px;
    border-radius: 5px;
    border-color: #fff;
}

.input .input-text-specific {
    padding-bottom: 100px;
    font-size: 1.5rem;
    resize: none;
}

.input .input-text::placeholder {
    padding-left: 5px;
}

.input .input-text-specific::placeholder {
    width: 80%;
    line-height: 1.5;
}

.content .button {
    margin: 5px 0 0 316px;
}

.button .button-text {
    margin-right: 3px;
    width: 60px;
}

.container .content-img {
    height: 100%;
    width: 45%;
    float: right;
    margin: 0 50px;
}

.content-img .img-content {
    height: 80%;
    width: 90%;
    box-shadow: 0 0 5px 1px #333;
}

.content-img .name-img {
    color: #4400ff;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 20px;
}

footer {
    height: 100px;
}

footer .text {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 50px;
}